<%= link_to "Add Movie", new_movie_path %>


<ul class="movies">
<% @movies.each do |movie| %>

    <li>
      <p>
        <strong>  <%= movie.name %> (<%= movie.year %>) </strong>
        <br>
        <%= movie.synopsis %>
      </p>
    </li>
<% end %>
</ul>
